<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-admob-mediation-vungle" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>cordova-plugin-admob-mediation-vungle</name>
    <description>Cordova AdMob Mediation Plugin for Vungle</description>

    <engines>
        <engine name="cordova" version=">=8" />
    </engines>

    <preference name="BANNER_ID"/>
    <preference name="INTERSTITIAL_ID"/>
    <preference name="REWARDED_ID"/>

    <platform name="android">
        <framework src="com.google.ads.mediation:vungle:6.10.+" />
    </platform>

    <platform name="ios">
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="GoogleMobileAdsMediationVungle" spec="6.9.2.0"/>
            </pods>
        </podspec>

        <header-file src="src/ios/Vungle.h" />
        <source-file src="src/ios/Vungle.m" />
    </platform>

</plugin>
